body {
  background: #3e3f3a;
  /* 设置背景为完全透明 */
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .main {
  width: 420px;
  height: 380px;
  position: relative;
  background: transparent;
  z-index: 999;
  /* 设置main区域的背景为透明 */
}
main .main img {
  width: 100%;
  height: 100%;
}
main .main .next {
  position: absolute;
  left: 0;
  top: 50%;
  width: 150px;
  height: 128px;
  cursor: pointer;
}
main .main .next img {
  width: 100%;
  height: 100%;
}
main .main .pre {
  position: absolute;
  right: 0;
  top: 50%;
  width: 150px;
  height: 128px;
  cursor: pointer;
}
main .main .pre img {
  width: 100%;
  height: 100%;
}
#img {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/9.jpg") no-repeat;
  cursor: pointer;
}
